<h1 class="my-5">Public Dashboard</h1>
<h2>New builds</h2>
<div class="my-5">
  <%= image_tag('barchart.png', class: 'img-fluid', alt: 'New builds') %>
</div>
<hr>
<div class="my-5">
  <%= image_tag('table.png', class: 'img-fluid', alt: 'New builds table') %>
</div>
<hr>
<h2 class="mt-5">Loss of affordable housing</h2>
<div class="my-5">
  <%= image_tag('barchart2.png', class: 'img-fluid', alt: 'New builds') %>
</div>
<hr>
<h2 class="mt-5">Total affordable housing</h2>
<div class="my-5">
  <%= image_tag('barchart3.png', class: 'img-fluid', alt: 'New builds') %>
</div>